@using System.Security.Claims

<!doctype html>
<html lang="en">

<head>
    <title>CarRental</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="@Url.Content("~/fonts/icomoon/style.css")">

    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap-datepicker.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/jquery.fancybox.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/owl.theme.default.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/fonts/flaticon/font/flaticon.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/aos.css")">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">

</head>

<body>


    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target" >
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <header class="site-navbar site-navbar-target" role="banner">

            <div class="container">
                <div class="row align-items-center position-relative">

                    <div class="col-3">
                        <div class="site-logo" style="margin-right:100px;">
                            <a asp-controller="Home" asp-action="Index"><strong>Car Rental</strong></a>
                        </div>
                    </div>

                    <div class="col-9  text-right">

                        <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>

                       
                            
                        <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav ml-auto">
                                <li><a class="nav-link" asp-controller="VehicleCatalogue" asp-action="Vehicles">Browse cars </a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a class="nav-link" asp-controller="VehicleCatalogue" asp-action="RentedVehicleCopies">Return a car</a></li>
                                    <li><a class="nav-link" asp-controller="VehicleCatalogue" asp-action="ReturnedVehicleCopies">Rental History</a></li>
                                    <li>
                                        <a class="nav-link" asp-controller="Profile" asp-action="Index">@User.FindFirstValue("UserName").ToLower()</a>
                                    </li>
                                    <li style="margin-left:20px;margin-right:10px;">
                                        <img src=@User.FindFirstValue("Image") style="border-radius: 50%;border-color:green;width: 30px; height: 30px;margin-bottom:5px;" />
                                    </li>
                                    <li class="nav-item "> <a class="nav-link" asp-controller="Auth" asp-action="Logout">Logout</a></li> 
                                }
                                else
                                {
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Auth" asp-action="Login">Login</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link" asp-controller="Auth" asp-action="Register">Register</a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>



                </div>
            </div>
        </header>
        
        @RenderBody()

        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h2 class="footer-heading mb-4">About Us</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        <ul class="list-unstyled social">
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-instagram"></span></a></li>
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-linkedin"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-8 ml-auto">
                        <div class="row">
                            <div class="col-lg-3">
                                <h2 class="footer-heading mb-4">Quick Links</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Testimonials</a></li>
                                    <li><a href="#">Terms of Service</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <h2 class="footer-heading mb-4">Resources</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Testimonials</a></li>
                                    <li><a href="#">Terms of Service</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <h2 class="footer-heading mb-4">Support</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Testimonials</a></li>
                                    <li><a href="#">Terms of Service</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <h2 class="footer-heading mb-4">Company</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Testimonials</a></li>
                                    <li><a href="#">Terms of Service</a></li>
                                    <li><a href="#">Privacy</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <div class="border-top pt-5">
                            <p>
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="@Url.Content("~/js/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/js/popper.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.sticky.js")"></script>
    <script src="@Url.Content("~/js/jquery.waypoints.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.animateNumber.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.fancybox.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.easing.1.3.js")"></script>
    <script src="@Url.Content("~/js/bootstrap-datepicker.min.js")"></script>
    <script src="@Url.Content("~/js/aos.js")"></script>

    <script src="@Url.Content("~/js/main.js")"></script>
    @RenderSection("Scripts",required:false)
</body>

</html>
