@using Vehicle_Rent.ViewModels.Profile;
@model ProfileDetailVM;



<div class="site-section bg-light">
    <div class="container">
        <div class="row justify-content-center text-center mb-5 section-2-title">
            <div class="col-md-12" style="margin-top:30px;">
                <h2 class="mb-4">@ViewBag.Title</h2>
            </div>
        </div>
        <div class="row align-items-center justify-content-center"  >
            <div class="col-lg-8 col-md-12 mb-12" style="margin-bottom:10px; ">
                <div class="post-entry-1 h-100 person-1" >

                    <img src="@Model.Image" alt="Image" style="width:150px;height:150px;">

                    <div class="post-entry-1-contents" style="height:300px;">
                        <div style="display:flex; justify-content:space-between;">
                            <h2>@Model.Name</h2>
                            <p>
                                Joined the platform on @Model.JoinedOn.ToString("yyyy-MM-dd")
                            </p>

                        </div>
                        <div style="display:flex; justify-content:space-between;">

                            <p>
                                @Model.UserName
                            </p>
                            <div style="display:block;">
                                <p>
                                    Vehicles in possession : @Model.numberOfvehicleCopiesInposession
                                </p>
                                <p>
                                    Returned Vehicles : @Model.numberOfRentedVehicleCopies
                                </p>
                            </div>

                        </div>
                        <div style="display:flex;">
                            @foreach(var image in Model.VehicleImages.Take(4))
                            {
                                <img src=@image />
                            }
                        </div>
                        
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>


